body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282a36;
}

button {
    background-color: #bd93f9;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 15px;
    padding: 1em;
    margin: 1em;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    padding: 2vw;
}

.grid-square {
    background-color: #8be9fd;
}

.hover {
    background-color: #ff5555;
}
